<section id="partners">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Partners</span></h2>
          <p class="subtitle text-center">Being a partner has its perks as we offer a great chance to discover the parallel world of new technologies. Our partner can look forward to interesting workshops on 3D printing, digital privacy, or blockchain &amp; Bitcoin which can serve also as team­building activities. </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Partners List -->
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.atlasnetwork.org/" target="_blank">
          <img src="/media/sponsors/logo-atlas-transparent.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.keboola.com/" target="_blank">
          <img src="/media/sponsors/Keboola_logo.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://bitcoinpay.com" target="_blank">
          <img src="/media/sponsors/bitcoinpay.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://coinmate.io" target="_blank">
          <img src="/media/sponsors/coinmate.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://dashpay.cz/hcpp-2016" target="_blank">
          <img src="/media/sponsors/dash.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.generalbytes.com/" target="_blank">
          <img src="/media/sponsors/generalbytes.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://buytrezor.com/" target="_blank">
          <img src="/media/sponsors/logo-trezor.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.uber.com/" target="_blank">
          <img src="/media/sponsors/Uber_Logotype_Digital_black.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-30-top">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://ultrahack.org/" target="_blank">
          <img src="/media/sponsors/ultrahack.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.fashion-stl.cz/" target="_blank">
          <img src="/media/sponsors/fashionstl.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://godistributed.com/" target="_blank">
          <img src="/media/sponsors/distributed-dark.png" alt="" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://blockchainhub.net/graz/" target="_blank">
          <img src="/media/sponsors/blockchainhub-graz.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row partners-row mrgn-30-top">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 mrgn-20-top">
        <a href="http://refresher.cz/" target="_blank">
          <img src="/media/sponsors/refresher-logo.png" alt="" />
        </a>
      </div>
    </div>
    <!-- /.Partners List -->

    <div class="row">
      <p class="subtitle text-center mrgn-40-top">
        Special thanks to the following Paralelní Polis fans and donors: Daniel Gasteiger, Sleighdogs GmbH
      </p>
    </div>

    <div class="row">
      <h3 class="text-center mrgn-40-top">
        <a href="/media/files/hcpp2016-donors-booklet.pdf" class="underlined" target="_blank">Become our partner</a>
      </h3>
    </div>

    {{!--
    <!-- Partners List -->
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="/media/sponsors/logo-client-01.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="/media/sponsors/logo-client-02.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="/media/sponsors/logo-client-03.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="/media/sponsors/logo-client-06.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="/media/sponsors/logo-client-05.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="/media/sponsors/logo-client-04.png" width="230" height="150" alt="" /></div>
    </div>
    <!-- /.Partners List -->
    --}}
  </div>
  <!-- /.container -->
</section>
