<section id="about-hcpp16">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>About HCPP16</span></h2>
          <p class="subtitle text-center">
            {{topics_description_one}}
          </p>
          <p class="subtitle text-center">
            {{topics_description_two}}
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title -->
    <div class="row">
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/discussions.svg" width="76" height="80" class="img-responsive" alt="Discussions" />
        <h3 class="accent">FREEDOM<br>&amp; CRYPTOANARCHY</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/workshops.svg" width="70" height="70" class="img-responsive" alt="Workshops" />
        <h3 class="accent">DECENTRALIZED ECONOMY<br>&amp; CRYPTOCURRENCY</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/exhibitions.svg" width="76" height="80" class="img-responsive" alt="Exhibitions" />
        <h3 class="accent">POLITICAL ART<br>&amp; HACKING</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/ideas.svg" width="49" height="80" class="img-responsive" alt="Ideas" />
        <h3 class="accent">SCIENCE<br>&amp; TECHNOLOGY</h3>
      </div>
      <!-- /.Feature -->
    </div>
  </div>
  <!-- /.container -->
</section>
