<section id="event-features">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Conference Topics</span></h2>
          <p class="subtitle text-center">
            {{description}}
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title -->
    <div class="row">
      <!-- Feature 01 -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/ideas.svg" width="49" height="80" class="img-responsive" alt="Ideas" />
        <h3 class="accent">SCIENCE<br>&amp; TECHNOLOGY</h3>
      </div>
      <!-- /.Feature 01 -->
      <!-- Feature 02 -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/discussions.svg" width="76" height="80" class="img-responsive" alt="Discussions" />
        <h3 class="accent">FREEDOM<br>&amp; CRYPTOANARCHY</h3>
      </div>
      <!-- /.Feature 02 -->
      <!-- Feature 03 -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/exhibitions.svg" width="76" height="80" class="img-responsive" alt="Exhibitions" />
        <h3 class="accent">POLITICAL ART<br>&amp; HACKING</h3>
      </div>
      <!-- /.Feature 03 -->
      <!-- Feature 04 -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/workshops.svg" width="70" height="70" class="img-responsive" alt="Workshops" />
        <h3 class="accent">DECENTRALIZED ECONOMY<br>&amp; CRYPTOCURRENCY</h3>
      </div>
      <!-- /.Feature 04 -->
    </div>
  </div>
  <!-- /.container -->
</section>
