<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">Satisne ergo pudori consulat, si quis sine teste libidini pareat</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="/media/images/shirt.png" class="img-responsive">
        <h3>T-shirt</h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/media/images/ticket.png" class="img-responsive">
        <h3>Early bird ticket</h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/media/images/notebook.png" class="img-responsive">
        <h3>Notebook</h3>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://tickets.paralelnipolis.cz" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>
