<section id="pricing">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title-white">
          <h2 class="text-center"><span>Registration</span></h2>
          <p class="subtitle white text-center">Satisne ergo pudori consulat, si quis sine teste libidini pareat</p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg white"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Pricing Passes -->
    <div class="row">
      <div class="col-sm-4">
        <!-- Pricing Pass 01 -->
        <div class="white-bg">
          <div class="ribbon-wrapper-dark">
            <div class="ribbon-dark">Early Bird</div>
          </div>
          <h3 class="text-uppercase text-center pddn-20-top pddn-10-btm">Design Pass</h3>
          <div class="accent-bg pddn-20-top-btm text-center">
            <p class="price">$<span class="text-bigger">358</span></p>
          </div>
          <ul class="list-pricing">
            <li>Attend the design show </li>
            <li>Access to all lectures </li>
            <li>A choice of 1 workshop</li>
          </ul>
          <p class=" pddn-20-btm text-center"><a href="#" class="btn btn-main-ghost">Book a Ticket</a></p>
        </div>
        <!-- /.Pricing Pass 01 -->
      </div>
      <div class="col-sm-4">
        <!-- Pricing Pass 02 -->
        <div class="white-bg">
          <div class="ribbon-wrapper-dark">
            <div class="ribbon-dark">Early Bird</div>
          </div>
          <h3 class="text-uppercase text-center pddn-20-top pddn-10-btm">Tech Pass</h3>
          <div class="accent-bg pddn-20-top-btm text-center">
            <p class="price">$<span class="text-bigger">545</span></p>
          </div>
          <ul class="list-pricing">
            <li>Attend the tech show </li>
            <li>Access to all lectures </li>
            <li>A choice of 3 workshop</li>
          </ul>
          <p class=" pddn-20-btm text-center"><a href="#" class="btn btn-main-ghost">Book a Ticket</a></p>
        </div>
        <!-- /.Pricing Pass 02 -->
      </div>
      <div class="col-sm-4">
        <!-- Pricing Pass 03 -->
        <div class="white-bg">
          <div class="ribbon-wrapper-dark">
            <div class="ribbon-dark">Early Bird</div>
          </div>
          <h3 class="text-uppercase text-center pddn-20-top pddn-10-btm">Ultimate Pass</h3>
          <div class="accent-bg pddn-20-top-btm text-center">
            <p class="price">$<span class="text-bigger">850</span></p>
          </div>
          <ul class="list-pricing">
            <li>Attend both shows </li>
            <li>Access to all lectures </li>
            <li>Access to all workshops</li>
          </ul>
          <p class=" pddn-20-btm text-center"><a href="#" class="btn btn-main-ghost">Book a Ticket</a></p>
        </div>
        <!-- /.Pricing Pass 03 -->
      </div>
    </div>
    <!-- /.Pricing Passes -->
  </div>
  <!-- /.container -->
</section>
