<section id="programme">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Programme</span></h2>
          <p class="subtitle text-center">
            Apart from intensive presentation schedule, the congress will be accompanied by panel discussions, 3D printing workshops, social events and other program in collaboration with our partners.<br>&bull;
          </p>
          <p class="subtitle text-center">
            In particular, we are looking forward to have events like 3D printed fashion show by FashionSTL, hacker talent competition by Ultrahack, several drone shows and movie screenings. There will a presentation of Virtual Reality devices with owesome applications by Inloop and you will be able to shoot a selfie in a Matrix movie style with Bullettime technology.<br>&bull;
          </p>
          <p class="subtitle text-center">In days before our congress, Paralelni Polis will host <a href="https://www.eventbrite.com/e/trezor-20-hackathon-registration-25845164583" target="_blank">SatoshiLabs Trezor 2.0 Hackathon</a> mentored by Andreas, Johoe, Slush and Stick. We strongly encourage all the hackers to join and enrich their Prague experience.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
