<section id="programme">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Programme</span></h2>
          <p class="subtitle text-center">Apart from intensive presentation schedule, the congress will be accompanied by panel discussions, workshops, social events and other program in collaboration with our partners. In particular, we are looking forward to share events with Cultural Hijack art exhibition, a 3D fashion show by FashionSTL, Ultrahack hacker screening competition, movie screening and racing drone presentations.<br>&bull;
          </p>
          <p class="subtitle text-center">In days before our congress, Paralelni Polis will host SatoshiLabs TREZOR Hackathon mentored by Andreas, Johoe, Slush and Stick. We strongly encourage all the hackers to join and enrich their Prague experience.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
