<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">As we want to make this experience for you unforgettable we try to invite only the most interesting personas from the given field!</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Speakers List -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/timothy-c-may.jpg" width="300" height="300" alt="Timothy C.May" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Timothy C. May (US - via Skype)</span><br/>
            Author of The Crypto Anarchist Manifesto</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/paul-rosenberg.jpg" width="300" height="300" alt="Paul Rosenberg" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Paul Rosenberg (US)</span><br/>
            Founder of Cryptohippie and author of the free-mans perspective</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/andreas-antonopoulos.jpg" width="300" height="300" alt="Andreas Antonopoulos" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Andreas Antonopoulos (US)</span><br/>
            Bitcoin evangelist and author of Mastering Bitcoin</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/pamela-morgan.jpg" width="300" height="300" alt="Pamela Morgan" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Pamela Morgan (US)</span><br/>
            Attorney, educator and entrepreneur with focus on cryptocurrencies</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/sam-patterson.jpg" width="300" height="300" alt="Sam Patterson" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Sam Patterson (US)</span><br/>
            Chief Operating Officer at OpenBazaar, decentralized peer to peer e-commerce platform</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/jonathan-dawson.jpg" width="300" height="300" alt="Jonathan Dawson" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Jonathan Dawson (DE)</span><br/>
            Head of Economics at Schumacher College in Devon</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/daniel-gasteiger.jpg" width="300" height="300" alt="Daniel Gasteiger" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Daniel Gasteiger (CH)</span><br/>
            Co-Founder of NexusSquared, catalytic blockchain-business platform</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/philip-saunders.jpg" width="300" height="300" alt="Philip Saunders" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Philip Saunders (US)</span><br/>
            Founder of Pax, virtual nation and peer-to-peer legal system</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
  </div>
  <div class="container container-expand">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/jamie-bartlett.jpg" width="300" height="300" alt="Jamie Bartlett" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Jamie Bartlett (UK)</span><br/>
            Director of the Centre for the Analysis fo Social Media at the think tank Demos</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/adam-khaleb-ernest.jpg" width="300" height="300" alt="Adam Khaleb Ernest" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Adam Khaleb Ernest (US)</span><br/>
            Co-Founder &amp; CEO of Followmyvote, secure and transparent blockchain voting platform</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/manfred-karrer.jpg" width="300" height="300" alt="Manfred Karrer" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Manfred Karrer (AT)</span><br/>
            Founder of Bitsquare, decentralized Bitcoin exchange</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/joerg-platzer.jpg" width="300" height="300" alt="Joerg Platzer" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Joerg Platzer (DE)</span><br/>
            Hacktivist, founding member of the Crypto Economics Consulting Group</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/lasha-antadze.jpg" width="300" height="300" alt="Lasha Antadze" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Lasha Antadze (UA)</span><br/>
            Business consultant, involved in Ukrainian blockchain backed government e-Auction system</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/lucas-betshart.jpg" width="300" height="300" alt="Lucas Betshart" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Lucas Betshart (CH)</span><br/>
            Co-Founder Blockchain Source, President of Bitcoin Association Switzerland</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/peter-surda.jpg" width="300" height="300" alt="Peter Šurda" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Peter Šurda (SK)</span><br/>
            Software developer working on Bitmessage and author of Economics of Bitcoin blog</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/smuggler.jpg" width="300" height="300" alt="Smuggler" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Smuggler (--)</span><br/>
            Cryptoanarchist and cypherpunk</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/frank-braun.jpg" width="300" height="300" alt="Frank Braun" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Frank Braun (DE)</span><br/>
            Aspiring cypherpunk and cryptoanarchist</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
  </div>
    <!-- /.Speakers List -->

  <div class="container">
    <!-- Speaker CTA Button -->
    <div class="row">
      <div class="col-md-12">
        <div class="mrgn-50-top text-center"><a href="javascript:void(0)" class="btn btn-main-ghost see-more" role="button">See more speakers</a></div>
      </div>
    </div>
    <!-- /.Speaker CTA Button -->
    <div class="row">
      <div class="col-sm-12">
        <p class="subtitle text-center">
          This year we are scaling the whole congress up! With more than 40 expected speakers from various fields such as the freedom movement, cryptoanarchy, sharing economy, cryptocurrencies, political art, hacking and much more.
        </p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
