<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">As we want to make this experience for you unforgettable we try to invite only the most interesting personas from the given field!</p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Speakers List -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/andreas-antonopoulos.jpg" width="300" height="300" alt="Andreas Antonopoulos" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Andreas Antonopoulos (US)</span><br/>
            Bitcoin evangelist and author of "Mastering Bitcoin"</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/pamela-morgan.jpg" width="300" height="300" alt="Pamela Morgan" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Pamela Morgan (US)</span><br/>
            Attorney, educator and entrepreneur</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/timothy-c-may.jpg" width="300" height="300" alt="Timothy C.May" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Timothy C. May (US)</span><br/>
            Creator of The Crypto Anarchist Manifesto</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/paul-rosenberg.jpg" width="300" height="300" alt="Paul Rosenberg" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Paul Rosenberg (US)</span><br/>
            Founder of Cryptohippie</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/sam-patterson.jpg" width="300" height="300" alt="Sam Patterson" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Sam Patterson (US)</span><br/>
            Chief Operating Officer at OpenBazaar</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/jonathan-dawson.jpg" width="300" height="300" alt="Jonathan Dawson" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Jonathan Dawson (DE)</span><br/>
            Head of Economics at Schumacher College in Devon</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/daniel-gasteiger.jpg" width="300" height="300" alt="Daniel Gasteiger" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Daniel Gasteiger (CH)</span><br/>
            Co-Founder of NexusSquared</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/philip-saunders.jpg" width="300" height="300" alt="Philip Saunders" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Philip Saunders (US)</span><br/>
            Founder of Pax, virtual nation and peer-to-peer legal system</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
  </div>
  <div class="container container-expand">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/jamie-bartlett.jpg" width="300" height="300" alt="Jamie Bartlett" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Jamie Bartlett (UK)</span><br/>
            Director of the Centre for the Analysis fo Social Media at the think tank Demos</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/adam-khaleb-ernest.jpg" width="300" height="300" alt="Adam Khaleb Ernest" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Adam Khaleb Ernest (US)</span><br/>
            Co-Founder &amp; CEO of Followmyvote</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/manfred-karrer.jpg" width="300" height="300" alt="Manfred Karrer" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Manfred Karrer (AT)</span><br/>
            Founder of Bitsquare - decentralized Bitcoin exchange</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/joerg-platzer.jpg" width="300" height="300" alt="Joerg Platzer" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Joerg Platzer (DE)</span><br/>
            Hacktivist, founding member of the Crypto Economics Consulting Group</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/lasha-antadze.jpg" width="300" height="300" alt="Lasha Antadze" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Lasha Antadze (UA)</span><br/>
            Ukraine blockchain</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/lucas-betshart.jpg" width="300" height="300" alt="Lucas Betshart" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Lucas Betshart (CH)</span><br/>
            Co-Founder Blockchain Source</p>
        </div>
        <!-- /.Speaker -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/peter-surda.jpg" width="300" height="300" alt="Peter Šurda" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Peter Šurda (SK)</span><br/>
            Software developer, blogger - <a href="http://www.economicsofbitcoin.com/" target="_blank">Economics of Bitcoin</a></p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
  </div>
    <!-- /.Speakers List -->

  <div class="container">
    <!-- Speaker CTA Button -->
    <div class="row">
      <div class="col-md-12">
        <div class="mrgn-50-top text-center"><a href="javascript:void(0)" class="btn btn-main-ghost see-more" role="button">See more speakers</a></div>
      </div>
    </div>
    <!-- /.Speaker CTA Button -->
  </div>
  <!-- /.container -->
</section>
