<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">Satisne ergo pudori consulat, si quis sine teste libidini pareat</p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Speakers List -->
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <!-- Speaker 01 -->
        <div class="speaker-item"> <a href="speaker-details2.html#speaker1">
          <figure class="speaker accent-bg"> <img src="/media/speakers/gasteiger.jpg" width="300" height="300" alt="Daniel Gasteiger" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Daniel Gasteiger (CH)</span><br/>
            The founder of Switzerland's blockchain business platform</p>
        </div>
        <!-- /.Speaker 01 -->
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <!-- Speaker 02 -->
        <div class="speaker-item"> <a href="speaker-details2.html#speaker2">
          <figure class="speaker accent-bg"> <img src="/media/speakers/platzer.jpg" width="300" height="300" alt="Joerg Platzer" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Joerg Platzer (DE)</span><br/>
            Cryptoanarchist and aspiring cypherpunk</p>
        </div>
        <!-- /.Speaker 02 -->
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <!-- Speaker 03 -->
        <div class="speaker-item"> <a href="speaker-details2.html#speaker3">
          <figure class="speaker accent-bg"> <img src="/media/speakers/speaker-03.jpg" width="300" height="300" alt="Speaker" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">Design Hall</p>
              <p>04/10/2016 - 3PM</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Fin Kerring</span><br/>
            Handlettering Techniques</p>
        </div>
        <!-- /.Speaker 03 -->
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <!-- Speaker 04 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/polis-placeholder.png" width="300" height="300" alt="" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">Sign up for more news</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">More speakers coming soon</span></p>
        </div>
        <!-- /.Speaker 04 -->
      </div>
    </div>
    <!-- /.Speakers List -->

    {{!--
    <!-- Speaker CTA Button -->
    <div class="row">
      <div class="col-md-12">
        <p class="mrgn-50-top text-center"><a href="speakers.html" class="btn btn-main-ghost">See more speakers</a></p>
      </div>
    </div>
    <!-- /.Speaker CTA Button -->
    --}}
  </div>
  <!-- /.container -->
</section>
