<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">This year we are scaling the whole congress up! With more than 40 expected speakers from various fields such as the freedom movement, cryptoanarchy, sharing economy, cryptocurrencies, political art, hacking and much more.</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    {{#each speakerRows}}
    <div class="row">
      {{#each .}}
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="#newsletter">
            <figure class="speaker accent-bg"> <img src="http://frab.paralelnipolis.cz{{image}}" width="300" height="300" alt="{{full_public_name}}" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">More info coming soon, subscribe to our newsletter</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">{{full_public_name}}</span>
            <br/> {{abstract}}</p>
        </div>
        <!-- /.Speaker -->
      </div>
      {{/each}}
    </div>
    {{/each}}
  <!-- /.Speakers List -->

  <div class="container">
    <!-- Speaker CTA Button -->
    <div class="row">
      <div class="col-md-12">
        <div class="mrgn-50-top text-center"><a href="javascript:void(0)" class="btn btn-main-ghost see-more" role="button">See more speakers</a></div>
      </div>
    </div>
    <!-- /.Speaker CTA Button -->
  </div>
  <!-- /.container -->
</section>
