<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">As we want to make this experience for you unforgettable we invite only the most interesting personas from the given field!</p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Speakers List -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 01 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/timothy-c-may.jpg" width="300" height="300" alt="Timothy C.May" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Timothy C. May (US)</span><br/>
            Creator of The Crypto Anarchist Manifesto</p>
        </div>
        <!-- /.Speaker 01 -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 02 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/paul-rosenberg.jpg" width="300" height="300" alt="Paul Rosenberg" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Paul Rosenberg (US)</span><br/>
            Founder of Cryptohippie</p>
        </div>
        <!-- /.Speaker 02 -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 03 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/sam-patterson.jpg" width="300" height="300" alt="Sam Patterson" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Sam Patterson (US)</span><br/>
            Chief Operating Officer at OpenBazaar</p>
        </div>
        <!-- /.Speaker 03 -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 04 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/gasteiger.jpg" width="300" height="300" alt="Daniel Gasteiger" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Daniel Gasteiger (CH)</span><br/>
            Co-Founder of NexusSquared</p>
        </div>
        <!-- /.Speaker 04 -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 05 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/jamie-bartlett.jpg" width="300" height="300" alt="Jamie Bartlett" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Jamie Bartlett (UK)</span><br/>
            Director of the Centre for the Analysis fo Social Media at the think tank Demos</p>
        </div>
        <!-- /.Speaker 05 -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 06 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/adam-khaleb-ernest.jpg" width="300" height="300" alt="Adam Khaleb Ernest" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Adam Khaleb Ernest (US)</span><br/>
            Co-Founder &amp; CEO of Followmyvote</p>
        </div>
        <!-- /.Speaker 06 -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 07 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/manfred-karrer.png" width="300" height="300" alt="Manfred Karrer" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">More info soon</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">Manfred Karrer (AT)</span><br/>
            Founder of Bitsquare - decentralized Bitcoin exchange</p>
        </div>
        <!-- /.Speaker 07 -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker 08 -->
        <div class="speaker-item"> <a href="#newsletter">
          <figure class="speaker accent-bg"> <img src="/media/speakers/polis-placeholder.png" width="300" height="300" alt="" class="img-responsive center-block" />
            <figcaption>
              <p class="text-uppercase accent">Sign up for more news</p>
            </figcaption>
          </figure>
          </a>
          <p><span class="speaker-accent">More speakers coming soon</span></p>
        </div>
        <!-- /.Speaker 08 -->
      </div>
    </div>
    <!-- /.Speakers List -->

    {{!--
    <!-- Speaker CTA Button -->
    <div class="row">
      <div class="col-md-12">
        <p class="mrgn-50-top text-center"><a href="speakers.html" class="btn btn-main-ghost">See more speakers</a></p>
      </div>
    </div>
    <!-- /.Speaker CTA Button -->
    --}}
  </div>
  <!-- /.container -->
</section>
